*{
    margin: 0;
    padding: 0;
}

img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
{
    font-family:'Poppins' , sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top:2rem;
}
:root{
--main-color: #ffb43a;
--hover-color: hsl(37, 94%, 57%);
--body-color: #1e1e2a;
--container-color: #2d2e37;
--text-color: #fcfeff;

}
a{
    text-decoration:  none;
}
/*li{
    list-style: none;
}*/
section{
    padding: 3rem 0 2rem;
}
img{
    width: 100%;
}
.bx{
    cursor:pointer;
}

body{
    background: var(--body-color);
    color:var(--text-color)
}
.container{
    max-width: 1065px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;

}
.nav{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.nav-container{
    align: left;
}
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding:8px 15px;
    background: var(--container-color);
    border-radius:4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}

#search-input{
    width: 100%;
    border:none;
    outline:none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 0.9rem;
}
.user{
    display: flex;
}

.nav-link{
  
  align-items: center;
  color:#b7b7b7;
   
}
.nav-link:hover{
    color:var(--text-color);
    transition:0.1s all linear;
    transform: scale(1.1);
}
.nav-active{
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: sclae(1.1);
}
.nav-link .bx{
    font-size: 1.6rem;
}
 
  /*home*/

.home{
    position: relative;
    min-height: 470px;
    display:flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;
}
.home-text{
    padding-left:40px;
}
.home-title{
    font-size: 2rem;
    font-weight: 600;
}
.home-text p{
    font-size:0.9rem;
    margin: 10px 0 20px;
    color: var(--main-color);
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}
.watch-btn .bx{
    font-size: 21px;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-btn .bx:hover{
    background: var(--hover-color);
}
.watch-btn span{
    font-size: 1rem;
    font-weight: 400;
}
/*heading popular*/
.home-text{
    font-size:2rem;
    font-weight:600;
}
/*headin*/
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border:1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}
.heading-title{
    font-size:1.2rem;
    font-weight:500;
}
.movie-box{
    position: relative;
    width: 100%;
    height: 380px;
overflow: hidden;
}
.movie-box-img{
    width: 100%;
    height:100% ;
    object-fit: cover;
}
.movie-box .box-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%, 
    hsl(240 17% 14% / 14%) 44%
    );
    overflow: hidden;
}
.movie-title{
    font-size: 1.1rem;
    font-weight: 500;
}
.movie-type{
    font-size: 0.938rem;}
.play-btn{
    position: absolute;
    bottom: 0.8rem;
    right: 4rem;
}
/*swiper btn*/
.swiper-btn{
    display: flex;
}
.swiper-button-prev,
 .swiper-button-next{
   position: static !important ;
   margin: 0 0 0 10px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;
}
/*next btn*/
.play-container{
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
} 
.play-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    z-index:-1;
}
.play-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%, 
    hsl(240 17% 14% / 14%) 44%
    ); 
}
.play-text h2{
    font-size: 1.5rem ;
    font-weight: 600;

}
.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.tags span{
    background: var(--container-color);
    padding: 0 4px;
}
